.banner3::before{
    content: "";
    position: absolute;
    background: url('../images/banner3.jpg')  no-repeat center center/cover;
    height: 300px;
    top: 5%;
    left: 5%;
    width: 90%;
    z-index: -1;
    /* opacity: 0.7; */
    border-radius: 20px;
    margin: auto;
}